/* global css */

body {
    font-family: 'Roboto', sans-serif;
}

/* header css */

.header {
    text-align: center;
    font-weight: normal;
    padding-top: 20px;
}

/* nav bar css */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #333333
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #111111;
}

/* other future css */