<!-- NAVBAR -->
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/images/icon.ico" width="30" height="30" class="d-inline-block align-top" alt="aehca inc logo" />
            AEHCA Inc
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for item in site.data.navigation %}
                <li class="nav-item active">
                    <a class="nav-link {% if item.name == 'Terms' or item.name == 'Privacy' %}text-info 
                                {% elsif item.name =='Latest Updates' %}text-warning font-weight-bold 
                                {% else %}text-warning
                                {% endif %}" href="{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav ml-auto">
                <!-- GOOGLE TRANSLATE BUTTON-->
                <li>
                    <div id="google_translate_element"></div>
                </li>
                <!-- END GOOGLE TRANSLATE BUTTON-->
            </ul>
        </div>
    </nav>
</header>
<!-- END NAVBAR -->