---
layout: post
title: 2020 Response to Covid-19 in Central America
tags: guatemala, ipala, education, trip, schools, covid, relief
keywords: guatemala, ipala, education, trip, schools, covid, relief
author: billy
---
<main role="main">
    <div class="container-md">
        <div class="jumbotron">
            <p></p>
            <p class="lead text-center">Association for Education and Health in Central America</p>
            <hr class="my-4">
            <h4 class="mt-0">2020 Response to Covid-19 in Central America</h4>
            <p></p>
            <div class="media">
                <img src="/images/billy-small.png" class="mr-3 rounded" alt="Billy Earles, CEO of AECHA Inc.">
                <div class="container">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="mt-0">Billy Earles, CEO <small class="text-muted">September 18, 2020</small>
                                </h6>
                                <p></p>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="card">
                                        <div class="row no-gutters">
                                            <div class="col-sm-5">
                                                <img src="/images/schooling-covid-response.jpg"
                                                    class="card-img-top h-100 img-fluid rounded"
                                                    alt="covid response with schooling">
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="card-body">
                                                    <h5 class="card-title">Schooling</h5>
                                                    <p class="card-text">AEHCA Inc. had planned and budgeted for
                                                        projects
                                                        designed to help our partners in Ipala Guatemala with their
                                                        goals
                                                        for Educational Programs such as scholarships, desks, and books.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="card">
                                        <div class="row no-gutters">
                                            <div class="col-sm-5">
                                                <img src="/images/home-build-covid-response.jpg"
                                                    class="card-img-top h-100 img-fluid rounded"
                                                    alt="covid response with housing">
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="card-body">
                                                    <h5 class="card-title">Housing</h5>
                                                    <p class="card-text">We had also planned to continue that work our
                                                        partners had been doing to improve health in Ipala.
                                                        Programs of building new homes, providing smokeless stoves in
                                                        homes and schools. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p></p>
                                <div class="row">
                                    <div class="card">
                                        <div class="row no-gutters">
                                            <div class="col-sm-5">
                                                <img src="/images/family-food-covid-response.jpg"
                                                    class="card-img-top h-100 img-fluid rounded"
                                                    alt="covid food and nourishment">
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="card-body">
                                                    <h5 class="card-title">Food and Nourishment</h5>
                                                    <p class="card-text">Covid-19 brought up more pressing needs
                                                        for our friends in Ipala . In March we received a request for
                                                        money to purchase food for 100 people in Ipala that didn’t meet
                                                        the requirements of State sponsored support. The AEHCA board of
                                                        directors met and decided to divert all of our budgeted funds of
                                                        $5,000 in 2020 to providing emergency food support to Ipala.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <p>Our partners in Ipala asked for $1,300 for the first round of emergency food.
                                        They identified those people in need, purchased, and delivered that emergency
                                        food relief.</p>
                                    <p>
                                        In July, we received another request for the same amount to help those in
                                        hunger.
                                    </p>
                                    <p>
                                        We split the cost of funding these two Emergency Food Support events with the
                                        Cedar Ridge Community Church so that we would be able to prolong our support
                                        with existing funds.
                                    </p>
                                    <p>We had a budget of $5,000 this year and are only about halfway to that goal.
                                        We are aware that Ipala may have a need for at least two and probably more
                                        requests in the future.
                                    </p>
                                    <p>
                                        We still need your support to reach our goal of $5,000. Please help us by
                                        asking friends and relatives to donate. It is simple and all donations are
                                        tax exempt.
                                    </p>
                                    <p>
                                        Our hearts are with our friends in Ipala, despite the distance and restrictions.
                                    </p>
                                    <p>
                                        So to be of any help to our friends, I need your help to do this. Please
                                        consider donating for this cause. We take credit cards on our website and
                                        checks can be mailed to:
                                    </p>
                                </div>
                                <div class="row justify-content-center">
                                    <p class="text-center"><span class="font-weight-bold">Association For
                                            Education
                                            and Health in Central America Inc.</span><br>
                                        Attn: Billy Earles<br>
                                        6421 Autumn Gold Court<br>
                                        Columbia, MD 21045-5419<br>
                                    </p>
                                    <img src="/images/ipala.jpg" class="img-fluid rounded"
                                        alt="covid food and nourishment">
                                    <p>The Association for Education and Health in Central America Inc. (AEHCA Inc.)
                                        is a tax exempt 501(C)(3) Non-profit Organization registered with the IRS so
                                        that you can deduct all donations. </p>
                                </div>
                                <div class="row">
                                    <p></p>
                                    <p>&nbsp;&nbsp;&nbsp;Thanks,<br>
                                        &nbsp;&nbsp;&nbsp;Billy Earles<br>
                                        <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;AEHCA<br></small>
                                        <small class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;CEO<br></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <p class="font-weight-bold">Read another post from our team below.</p>
                    <div class="list-group">
                        {% for post in site.posts %}
                        {% if page.title == post.title %}
                        <a class="list-group-item list-group-item-action active"
                            href="{{ post.url }}">{{ post.title }}</a>
                        {% else %}
                        <a class="list-group-item list-group-item-action" href="{{ post.url }}">{{ post.title }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
</main>